html {
    background-color: #454849;
}

body {
    color: #FFFFFF;
}

#header1 {
    color: #326D73;
}

#header2 {
    color: #326D73;
}

#header3 {
    color: #326D73;
}

#ssd {
    color: red;
    
}

#optional {
    color: #73E8E8;
}

#optional1 {
    color: #73E8E8;
}